
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffc0cb83;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #ff00ff41;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
input {
    flex-grow: 1;
    padding: 8px 10px;
    flex-basis: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    outline: none;
}
.submit {
    flex-basis: fit-content;
}